__pycache__/
Domain/__pycache__/
Domain/Functions/__pycache__/
Interface/__pycache__/
Views/__pycache__/
Data/__pycache__/
Bases/__pycache__/
settings.json

# Do not upload large patterns
TestData/hn/100x100noisePattern.json